<div class="page-header">
    <h1><span class="text-light-gray">买到手抽筋 / </span>导航管理</h1>
</div>
<ul class="nav nav-tabs nav-tabs-simple">
    <li class="">
        <a href="#" data-toggle="tab">Home</a>
    </li>
    <!--<li class="active">-->
        <!--<a href="#" data-toggle="tab">Profile <span class="badge badge-info">12</span></a>-->
    <!--</li>-->
    <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>-->
        <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#" data-toggle="tab">@fat</a></li>-->
            <!--<li><a href="#" data-toggle="tab">@mdo</a></li>-->
        <!--</ul>-->
    <!--</li> &lt;!&ndash; / .dropdown &ndash;&gt;-->
</ul>