<style>
    li .panel-body{
        padding:10px 0 0 0;

    }
    li .panel-body  .panel-body {
        padding:0px;
        border-bottom:1px solid #ccc;
    }
    a{
        cursor: pointer;
    }
</style>
<div class="page-header">
    <h1><span class="text-light-gray">团购 / </span>团购H5</h1>
</div>
<div class="panel colourable">
    <div class="panel-heading">
        <span class="panel-title">&nbsp;</span>
        <ul class="nav nav-tabs nav-tabs-xs">
            <li ng-class="{'active':vm.tabIndex==1}">
                <a  data-toggle="tab" ng-click="tab(1);">原始数据</a>
            </li>
            <li ng-class="{'active':vm.tabIndex==2}">
                <a  data-toggle="tab" ng-click="tab(2);">预览</a>
            </li>
            <li ng-class="{'active':vm.tabIndex==3}">
                <a  data-toggle="tab" ng-click="tab(3);">导入导出</a>
            </li>
        </ul> <!-- / .nav -->
    </div> <!-- / .panel-heading -->
    <div class="panel-body" ng-if="vm.tabIndex==1">
        <!--/*0是小标题 1是店标 2是商品*/-->
        <button class="btn btn-info" ng-click="add(0)">添加店标</button>
        <button class="btn btn-info" ng-click="add(1)">添加Banner</button>
        <button class="btn btn-info" ng-click="add(2)">添加商品</button>
        <button class="btn btn-info" ng-click="add(3)">添加去店铺</button>
        <ul style="margin:20px 0 0 0;">
            <li ng-repeat="item in vm.data">

                <div class="panel-body">
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">类型:</label>
                        <div class="col-sm-4">
                            {{item.type==0?'店标':item.type==1?'Banner':item.type==2?'商品':item.type==3?'去店铺':''}}
                        </div>
                        <div class="col-sm-4 text-right">
                            <a ng-click="item.vm.isShow=!item.vm.isShow">显示/隐藏</a>
                            <a ng-click="up($index)">上移</a>
                            <a ng-click="down($index)">下移</a>
                        </div>
                    </div>
                    <div ng-if="item.vm.isShow">
                        <div ng-if="item.type==0" class="panel-body">
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">标题:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.title" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div ng-if="item.type==1" class="panel-body">
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">图片地址:(如 images/xxxxx.jpg)</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.imgUrl" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">链接url:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.url" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div ng-if="item.type==2" class="panel-body">
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">标题:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.title" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">图片地址:(如 images/xxxxx.jpg)</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.imgUrl" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">淘宝价:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.oldPrice" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">团购价:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.price" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">链接url:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.url" class="form-control">
                                </div>
                            </div>

                        </div>

                        <div ng-if="item.type==3" class="panel-body">
                            <div class="row form-group">
                                <label class="col-sm-4 control-label">店铺url:</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="item.url" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-body" ng-if="vm.tabIndex==2">

    </div>
    <div class="panel-body" ng-if="vm.tabIndex==3">
        <button class="btn btn-info btn-sm" style="margin: 0 0 20px 0;" ng-click="save();">保存数据</button>
        <button class="btn btn-info btn-sm" style="margin: 0 0 20px 0;" ng-click="copy();">复制数据</button>
        <button class="btn btn-info btn-sm" style="margin: 0 0 20px 0;" ng-click="import();">导入数据</button>
        <button class="btn btn-info btn-sm" style="margin: 0 0 20px 0;" ng-click="append();">追加数据</button>
        <p>
            <span style="color:#06e">"导入数据"</span>将重置现有数据
        </p>
        <p>
            <span style="color:#06e">"追加数据"</span>将在现有数据之后追加新的数据
        </p>
        <textarea class="form-control" id="vmdata" cols="30" rows="10">{{vm.data}}</textarea>

    </div>
</div>
<input style="display:none;" id="fileDialog" type="file"  nwsaveas="data.json" accept=".json,.txt"/>
<!--<ul class="nav nav-tabs nav-tabs-simple">-->
    <!--<li class="">-->
        <!--<a href="#" data-toggle="tab">Home</a>-->
    <!--</li>-->
    <!--&lt;!&ndash;<li class="active">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" data-toggle="tab">Profile <span class="badge badge-info">12</span></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#" data-toggle="tab">@fat</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li><a href="#" data-toggle="tab">@mdo</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</li> &lt;!&ndash; / .dropdown &ndash;&gt;&ndash;&gt;-->
<!--</ul>-->